<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <h3><b href="">My first post</b></h3>
            <p>published: 01-25-2020, 14:57</p>
            <p>Harrie is the best when it comes to programming but worst when it comes to freddie.</p>
        </div>

        <div>
            <h3><b href="">My second post</b></h3>
            <p>published: 01-25-2020, 14:58</p>
            <p>Harrie bird is palaigit.</p>
        </div>
    </body>
</html>